body{
    font-family:'Gilroy';
    font-size: 14px;
    font-weight: 400;
}

.wrapper{
    overflow:hidden;
    position: relative;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}


.nav{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

    color: #fff;
}

.menu{
    display: flex;
    gap:0 64px;
    color: #FFF;

    font-size: 18px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 30px;
    display: none;
    position: relative;
}



.menu__btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translate(0, -10px);
}

.menu__btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translate(0, 10px);

}

.menu__btn::before,
.menu__btn::after{
    transition: transform .3s, opacity .7s;

}

.menu__btn span{
    width: 100%;
    height: 3px;
    background: #fff;
}

.menu__btn.active span{
   opacity: 0;
}



.menu__btn.active::after{
    transform:  rotate(45deg);
}
.menu__btn.active::before{
    transform:  rotate(-45deg);
}


.menu__list-swipe{
    display: flex;
    flex-direction: column;
    align-items: end;
   
    gap: 10px;

    background: #ffffff6f;
    border-radius: 0px 0px 5px 5px ;
    padding: 5px;
    transition: all 0.3s;
    opacity: 0;
    position: relative;
}

.menu__list-swipe a{
    transition: all 0.2s;
}

.menu__list-swipe a:hover{
    transform: translateX(-5%);
}


.menu__list-swipe.menu__list-swipe--active{
    opacity: 1;
}




.menu__link{
    position: relative;
    display: flex;
    align-items: center;
}

.menu__link-btn{
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 8px;
    height: 8px;
    display: block;
    transform: rotate(45deg);
    margin-left: 15px;
    padding: 3px;

    transition: all 0.4s;
}

.menu__link-btn.menu__link-btn--active{
    transform: rotate(225deg);
    
}

.basket__box{
    position: relative;
}

.basket__box span{
    position: absolute;
    background: #E58411;
    border-radius: 50%;
    min-width: 15px;
    padding: 3px;
    text-align: center;
    right: 0;
    top: 5px;
}


.top{
    background: url(../image/main/top-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.top__inner{
    color: #fff;
    text-align: center;
    padding-top: 161px;
    font-family: 'Gilroy';
}


.top__title{
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;

    transition: all 1s ease-in;
    opacity: 0;
}


.top__text{
    font-size: 24px;
    line-height: 160%;
    opacity: 0.800000011920929;

    max-width: 606px;
    margin: 0 auto;

    transition: all 1s ease-in;
    opacity: 0;
}

.top__input-box.element-show,
.top__title.element-show,
.top__text.element-show{
    transform: none;
}


.top__input-box{
    position: relative;
    width: max-content;
    margin: 0 auto;
    margin-top: 25px;
    transition: all 1s ease-in;
    opacity: 0;
}

.top__input{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 42px;
    border: 0.862px solid rgba(255, 255, 255, 0.60);
    padding: 15px 20px;
    width: 344px;
    color: #fff;
    height: 55px;
    opacity: 0.8;
    position: relative;
}

.top__input::placeholder{
    color: #fff;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}


.top__iput-image{
    position: absolute;
    right: 11px;
    bottom: 0;
    top: 7.5px;

    background: #E58411;
    border-radius: 24px;
    padding: 11px;
}


.info__inner{
    display: flex;
    margin-top: 120px;
    transition: all 1s ease-in;
    transform: translateY(20%);
    opacity: 0;
}




.info__cards-box{
    display: flex;
    gap: 28px;
    justify-content: end;
}

.info__title{
    color: #1E1E1E;
    font-size: 42px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    min-width: 242px;
}

.info__card{
    flex-basis: 284px;
}

.info__card-name {
    color: #1E1E1E;
    font-size: 24px;
    font-family: 'Gilroy';
    font-weight: 700;
}
.info__card-text {
    margin-top: 20px;
    color: #1E1E1E;
    font-size: 16px;
    font-family: 'Gilroy';
    line-height: 185%;
}

.info__card-link{
    display: flex;
    align-items: center;
    gap: 13px;
    color: #E58411;
    font-family: 'Gilroy';
    line-height: 185%;
    margin-top: 14px;
}


.price{
    margin-top: 120px;
    background: #F7F7F7;
    padding-bottom: 50px;
}

.price__title{
    padding-top: 50px;
    text-align: center;
    color: #1E1E1E;
    font-size: 42px;
    font-family: 'Gilroy';

    transition: all 1s ease-in;
    transform: translateY(20%);
    opacity: 0;
}

.price__bar{
    margin: 0 auto;

    text-align: center;
    margin-top: 40px;
    background: #eee;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: max-content;

    padding: 5px;
    border-radius: 44px;
    margin-bottom: 100px;

    transition: all 1s ease-in;
    transform: translateY(20%);
    opacity: 0;
}

.price__bar-list{
    cursor: pointer;

    color: #1E1E1E;
    font-size: 18px;
    line-height: 185%;
    font-family: 'Gilroy';

    padding: 7px 20px;
    transition: all 0.2s linear;
    border-radius: 32px;

}

.price__bar-list.price__bar-list--active{
    background: #fff;
}





.price__slider-box.swiper{
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.price__slider-box{
    transition: all 1s ease-in;
    transform: translateY(20%);
    opacity: 0;
}


.price__link{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    color: #E58411;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 185%;

    margin-top: 60px;
}


.card.swiper-slide{
    margin-top: 50px;
    background-color: #FAFAFA;
    border-radius: 20px;
    height: 100%;

    cursor: pointer;
}

.card__img{
   margin-top: -50px;
   width: 260px;
   height: 290px;

   padding-bottom: 40px;
}


.card__title-box{
    background: #fff;
    padding: 13px 10px 27px 21px;

    border-radius: 0 0 20px 20px;
}

.card__name{
    color: #8D8D8D;
    font-size: 16.755px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 6px;
}


.card__value,
.card__title{
    color: #0D1B39;
    font-size: 21.325px;
    font-family: 'Inter';
    font-weight: 600;
}


.card__star{
    padding-top: 6px;
}


.card__value-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}


.card__value{
    display: flex;
}


.card__value span{
    font-size: 15px;
}

.card__value-btn{
    font-size: 50px;
    background: #0D1B39;
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    display: none;
}

.swiper.swiper--active{
    display: block;
}

.swiper-button-prev:after{
    display: none;
}

.swiper-button-next:after{
    display: none;
}



.swiper-button-prev,
.swiper-button-next{
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.gallery__inner{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease-in;
    opacity: 0;
}

.gallery__box + .gallery__box{
    margin-top: 270px;
}

.gallery__box-left{
    position: relative;

}

.gallery__box-img{
    position: relative;
    z-index: 5;
}

.gallery__box-img__fon{
    position: absolute;
}

.gallery__box-img__fon.first-fon{
    top: -70px;
    left: 0;
    z-index: 1;
}


.gallery__box-img__fon.second-fon{
    top: 50px;
    left: 310px;
    z-index: 1;
    max-height:350px ;
    border-radius: 20px;
}

.gallery__box-right{
    flex-basis: 556px;
    font-family: 'Gilroy';
    margin: 0 auto;
}



.gallery__box-head {
    color: #E58411;
    font-size: 18px;
    letter-spacing: 3.15px;
    text-transform: uppercase;
}
.gallery__box-title {
    color: #1E1E1E;
    font-size: 42px;
    text-transform: capitalize;

    margin-top: 20px;
}
.gallery__box-text {
    color: #1E1E1E;
    font-size: 18px;
    line-height: 185%;
    
    margin-top: 20px;
}
.gallery__box-link {
    margin-top: 24px;

    color: #E58411;
    font-size: 14px;
    line-height: 185%;

    display: flex;
    align-items: center;
    gap: 13px;
}


.gallery__box-left--two{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 42px;
    order: 2;
}


.gallery__box-img__fon.third-fon{
    position: absolute;
    top: 43%;
    right: -18%;
    z-index: 1;

    transform: rotate(90deg);
}


.gallery__box-img--one {
    align-self: self-end;
    transform: translateY(58%);
}
.gallery__box-img--two {
    grid-row: 2/ span 1;
    align-self: self-end;

}
.gallery__box-img--three {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    
    position: relative;
    z-index: 10;
}

.reviews__inner{
    margin-top: 260px;
    font-family: 'Gilroy';
}



.reviews__head{
    color: #E58411;
    font-size: 18px;
    letter-spacing: 3.15px;
    text-transform: uppercase;
    text-align: center;
}

.reviews__title{
    margin-top: 20px;

    color: #1E1E1E;
    text-align: center;
    font-size: 42px;
    text-transform: capitalize;
}

.reviews__slider{
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
}


.slick-list.draggable{
    margin: 0 auto;
    max-width: 1166px;
}



.reviews__slider .slick-arrow{
 position: absolute;
 top: 30%;
 z-index: 10;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 font-size: 0;
 background: #fff;
 padding: 20px;
 box-shadow: 0px 7.03125px 19.53125px 0px rgba(0, 0, 0, 0.06);

}


.reviews__slider .slick-arrow.slick-prev{
    background-image: url(../image/main/prev-link.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 1.5%;

}

.reviews__slider .slick-arrow.slick-next{
    background-image: url(../image/main/next-link.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right:  1.5%;
}
.reviews__card.slick-slide{
    position: relative; 
    display: flex;
    justify-content: center;
}



.comments{
    position: absolute;
    bottom: 18px;
    max-width: 334px;

    text-align: center;

    background: #fff;
    border-radius: 18px; 

    height: 206px;
    font-family: 'Gilroy';
}



.comments__icon{
    margin: 0 auto;
    margin-top: -30px;
    padding: 10px;
    border-radius: 50px;
    background: #fff;
}


.comments__title{
    color: #1E1E1E;
    font-size: 18px;
    text-transform: capitalize;
}



.comments__suptitle{
    margin-top: 8px;

    color: #1E1E1E;
    font-size: 12px;
    opacity: 0.6000000238418579;
}


.comments__text{
    margin-top: 22px;

    color: #1E1E1E;
    text-align: center;
    font-size: 14px;
    padding:0  40px;
}


.comments__stars{
    margin: 0 auto;
    margin-top: 22px;
}



@media(max-width:1340px){

    .gallery__inner{
        margin-top: 150px;
    }

    .gallery__box{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;

        padding: 0 10px;
    }
    .gallery__box-right{
        margin: 0;
        max-width: 556px;
        flex-basis: initial;
    }
    .gallery__box-left img{
        max-width: 100%;
        border-radius: 20px;
    }

    .gallery__box-left--two{
        display: block;
        margin-top: 80px;
    }

    .gallery__box-img--one{
        display: none;
    }

    .gallery__box-img--two{
        display: none;
    }
    
    .gallery__box + .gallery__box{
        margin-top: 0;
    }

    .gallery__box-img__fon{
        display: none;
    }

    .gallery__box-link{
        justify-content: center;
    }


    .gallery__box-left--two{
        order: initial;
    }

}

@media(max-width:1250px){
    .info__inner{
        display: block;
    }

    .info__cards-box{
        margin-top: 30px;
        justify-content: start;
    }

    .slick-list.draggable{
        margin: 0 auto;
        max-width: 800px;
        position: relative;
    }

    .reviews__slider .slick-arrow{
        top: -17%;
        width: 60px;
        height: 60px;
    }


    .reviews__slider{
        margin-top: 100px;
    }

    .reviews__slider .slick-arrow.slick-next{
        right: 35%;
    }

    .reviews__slider .slick-arrow.slick-arrow.slick-prev{
        left: 30%;
    }
    
}

@media(max-width:945px){

    .info__inner{
        margin-top: 20px;
    }

    .info__cards-box{
       flex-direction: column;
    }



    .info__card{
        flex-basis: 0;
        max-width: 500px;
    }

    .info__card + .info__card{
        margin-top: 35px;
    }


    .reviews__inner{
        margin-top: 100px;
    }
}





@media(max-width:700px){

    
    .nav{
        align-items: center;
    }



    .logo{
        flex:1;
    }

    .menu{
       position: absolute;
       flex-direction: column;
       gap: 60px; 
       padding-top: 100px;
       align-items: center;
       top: 0;
       right: 0;
       background: #0D1B39;
       width: 60%;
       height: 100vh; 

       font-size: 30px;
       opacity: 0;

       z-index: 5;
       border-radius: 10px 0px 0px 10px;
       transition: all 0.5s;
       transform: translateX(110%);
    }

    .menu.menu--active{
        transform: translate(0);
        opacity: 1;
    }

    .menu__list-swipe{
        display: none;
        background: #5f4848f7;
        gap: 40px;
        border-radius:5px 40px 0 40px;
        padding: 15px;
        top: 10px;
    }

    .menu__list-swipe.menu__list-swipe.menu__list-swipe--active{
       display: flex;
    }




    .menu__btn{
        order: 2;
        display: flex;
        position: relative;

        z-index: 6;
    }


    .basket__box{
        order: 1;
        margin-right: 20px;
        position: relative;
    }


    .top{
        height: auto;
        padding-bottom: 100px;
    }

    .top__inner{
        padding-top: 100px;
    }

    .top__title{
        font-size: 55px;
    }

    .top__input{
        width: 280px;
        background: #1e1e1e95;
    }


    .info__inner{
        transform: translateY(0);
    }

    .slick-list.draggable{
        margin: 0 auto;
        max-width: 400px;
        position: relative;
    }




}



@media(max-width:500px){
    .info__title{
        max-width: 250px;
    }
    .price{
        margin-top: 60px; 
    }

    .price__bar{
        flex-direction: column;
        padding: 15px;
        margin:50px  0;
        border-radius: 0px 20px 20px 0px;
        gap: 20px;
    }

    .top__title {
        font-size: 36px;
    }

    .top__text{
        font-size: 18px;
    }

    .gallery__inner{
        margin-top: 50px;
    }

    .gallery__box-title{
     font-size: 30px;   
    }


    .reviews__slider .slick-arrow.slick-next{
        right: 25%;
    }

    .reviews__slider .slick-arrow.slick-arrow.slick-prev{
        left: 20%;
    }


    .reviews__card.slick-slide img{
        max-width: 100%;
    }

}

.element-show{
    transform: translateY(0);
    opacity: 1; 
}